.flex {
	display: flex;
}

.main-grid {
	display: grid;
	grid-gap: 1rem;
	grid-template-areas:
	"general"
	"price"
	"stock"
	"buttons";
}

.general-field {
	grid-area: general;
}

.stock-field {
	grid-area: stock;
}

.price-field {
	grid-area: price;
}

.product-picture {

}

.product-codes {
	margin-top: 1rem;
}

#file-input {
	display: none;
}

.input-wrapper label {
	display: block;
	margin: 0.5rem 0;
}

.input-wrapper input:not([type=radio]),
.input-wrapper select
{
	font-size: 1.25rem;
	width: 100%;
	margin: 0.5rem 0 1rem 0;
	padding: 0.5rem 1rem;
	background-color: white;
	border: 1px solid #eee;
	border-bottom: 2px solid #aaa;
	outline: unset;
	color: #444;
}

.input-wrapper input:focus,
.input-wrapper select:focus {
	background-color: rgba(255, 255, 0, 0.4);
}

.add-icon {
	display: block;
	width: 16px;
	height: 16px;
	margin-top: 0.5rem;
	background-image: url("../../../../../../assets/img/add.svg");
}

@media(min-width: 520px) {
	.product-codes {
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		grid-gap: 1rem;
	}

	.product-prices,
	.product-stock {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1rem;
	}
}

@media(min-width: 600px) {
	.grid {
		display: grid;
		grid-gap: 1rem;
	}
	.grid.g-c2 {
		grid-template-columns: repeat(2, 1fr);
	}
	.grid.g-c2-a {
		grid-template-columns: 0.5fr 1fr;
	}
	.grid.g-c2-b {
		grid-template-columns: 1fr 0.5fr;
	}
	.grid.g-c3 {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media(min-width: 680px) {
	.product-unity-brand {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media(min-width: 960px) {
	.general-wrapper {
		display: grid;
		grid-template-columns: 0.25fr 1fr;
		/*align-items: start;*/
	}

	.product-picture {
		display: inline-block;
	}

	.product-codes {
		margin-top: 0;
	}

	.product-selects {
		grid-column: 1 / span 2;
	}
}

@media(min-width: 1024px) {
	.product-selects {
		display: grid;
		grid-template-columns: 1fr 0.5fr; 
	}
}