.list-table .selected { background-color: #fff9e7; }
.list-table tbody tr:hover .options { visibility: visible; }

/*.list-table tr:hover .checkbox { visibility: visible; }*/
/*.list-table tr:first-child td { border-top: 1px solid #ebebeb; }*/

.post-title { font-weight: 600; color: dodgerblue; }

.options {
	visibility: hidden;
	display: inline-flex;
	margin-top: 0.5rem;
	font-size: 0.8rem;
	color: dodgerblue;
}
.options a { color: dodgerblue; }
.options .item { margin-right: 0.25rem; }
.options .item:last-child { margin-right: 0; }

.draft { margin: 0 0.5em; font-style: italic; color: red; }

.checkbox {
	visibility: hidden;
}

.option-wrapper {
	display: flex;
	align-items: center;
}
.option-wrapper .item {
	margin-left: 0.5rem;
}
.option-wrapper .item:first-child {
	margin-left: 0;
}

.clear-filter {
	display: none;
}

#delete-selected {
	visibility: hidden;
}





/* Main Elements */

.header {
	position: relative;
}

.products {
	display: grid;
	grid-template-areas:
	"sidebar list";
	grid-template-columns: 0.35fr 1fr;
	grid-gap: 0.5rem;
}

.sidebar {
	min-width: 300px;
	height: 100vh;
	grid-area: sidebar;
	padding: 0 2em;
	background-color: white;
}

.product-list {
	grid-area: list;
	background-color: whitesmoke;
}