/* MAIN ELEMENTS */

.header {
	position: relative;
}

.products {
	display: grid;
	grid-template-areas:
	"sidebar list";
	grid-template-columns: 0.35fr 1fr;
	grid-gap: 0.5rem;
}

.sidebar {
	min-width: 300px;
	height: 100vh;
	grid-area: sidebar;
	padding: 0 2em;
	background-color: white;
}

.product-list {
	grid-area: list;
	background-color: whitesmoke;
}

.clear-filter {
	display: none;
}

#delete-selected {
	visibility: hidden;
}


/* PRODUCTS TABLE */

.list-table tbody tr:hover .options { visibility: visible; }
.list-table .selected { background-color: #fff9e7; }
.list-table .selected .options { visibility: visible; }

.checkbox { visibility: hidden; }

.option-wrapper {
	display: flex;
	align-items: center;
}
.option-wrapper .item {
	margin-left: 0.5rem;
}
.option-wrapper .item:first-child {
	margin-left: 0;
}

.options {
	visibility: hidden;
	display: inline-flex;
	margin-top: 0.5rem;
	font-size: 0.8rem;
	color: dodgerblue;
}

.options .item {
	font-size: 1rem;
	margin-right: 1rem;
	color: #888;

}
.options .item:last-child { margin-right: 0; }